@using EyeCT4EventsMVC.Models.Domain_Classes
@using EyeCT4EventsMVC.Models.Domain_Classes.Gebruikers
@{
    ViewBag.Title = "ReserverenSubmit";
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
}

<h2>ReserverenSubmit</h2>

<form action="@Url.Action("ReserveringOpslaan")" method="get">

    @for (int i = 0; i < Convert.ToInt32(Request.QueryString["AantalPersonen"]); i++)
    {
        <div class="form-group">
            <label for="inputName">Naam</label>
            <input type="text" class="form-control" name="Naam @i" placeholder="Naam">
            <label for="InputEmail">Emailadres</label>
            <input type="email" class="form-control" name="Email @i " placeholder="Emailadres" />
            <input type="hidden" value="@Convert.ToInt32(Request.QueryString["AantalPersonen"])" name="AantalPersonen"/>
            <input type="hidden" value="@Request.QueryString["nummer"]" name="nummer" />
            <input type="hidden" value="@Request.QueryString["DatumVan"]" name="datumv" />
            <input type="hidden" value="@Request.QueryString["DatumTot"]" name="datumt" />
        </div>
    }
    <div class="form-group">
        <input type="submit" value="Reserveer" class="form-control"/>
    </div>

</form>


