@using EyeCT4EventsMVC.Models.Domain_Classes.Gebruikers;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
    @model EyeCT4EventsMVC.Models.Domain_Classes.Gebruikers.Bezoeker
    Bezoeker bezoeker = (Bezoeker)Session["Toegang"];
}


<h2>Toegangscontroller</h2>
<div>
    <form action="/Toegangs/GebruikerBijBarcode" method="post">
        <input class="scannerInput" type="text" name="barcode" />
    </form>
</div>
<form class="form-horizontal" method="post">
    @if(bezoeker != null)
    { 
        <div class="form-group">
            <div class="col-sm-10">
                <p>Naam: @bezoeker.Voornaam @bezoeker.Tussenvoegsel @bezoeker.Achternaam</p>
            </div>
            <div class="col-sm-10">
                <p>Gebruikersnaam: @bezoeker.Gebruikersnaam</p>
            </div>            <div class="col-sm-10">
                <p>Email: @bezoeker.Email</p>
            </div>
            <div class="col-sm-10">
                @if (bezoeker.Betaald)
                {
                <p>Betaald: Ja</p>
                }
                else
                {
                    <p>Betaald: Nee</p>
                }
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-sm-10">
                <p>Naam:</p>
            </div><br />
            <div class="col-sm-10">
                <p>Gebruikersnaam:</p>
            </div><br />
            <div class="col-sm-10">
                <p>Email:</p>
            </div><br />
            <div class="col-sm-10">
                <p>Betaald:</p>
            </div><br />
        </div>
    }
</form>
<script>
    $(function () {
        $(".scannerInput").input(function () {
            $(this).parent()[0].submit();
        });
    });
</script>
