@using EyeCT4EventsMVC.Models.Domain_Classes.Gebruikers;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
    @model EyeCT4EventsMVC.Models.Domain_Classes.Gebruikers.Bezoeker
    Bezoeker bezoeker = (Bezoeker)Session["Toegang"];
}
<header>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Toegangscontroller</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Gebruiker/Uitloggen">Uitloggen</a></li>
            </ul>
        </div>
    </div>
</nav>
    </header>
<div>
    <form action="/Toegangs/GebruikerBijBarcode" method="post">
        <input class="scannerInput" type="text" name="barcode" />
    </form>
</div>
<form class="form-horizontal" method="post">
    @if(bezoeker != null)
    { 
        <div class="form-group">
            <div class="col-sm-10">
                <p>Naam: @bezoeker.Voornaam @bezoeker.Tussenvoegsel @bezoeker.Achternaam</p>
            </div>
            <div class="col-sm-10">
                <p>Gebruikersnaam: @bezoeker.Gebruikersnaam</p>
            </div>            <div class="col-sm-10">
                <p>Email: @bezoeker.Email</p>
            </div>
            <div class="col-sm-10">
                @if (bezoeker.Betaald)
                {
                <p>Betaald: Ja</p>
                }
                else
                {
                    <p>Betaald: Nee</p>
                }
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-sm-10">
                <p>Naam:</p>
            </div><br />
            <div class="col-sm-10">
                <p>Gebruikersnaam:</p>
            </div><br />
            <div class="col-sm-10">
                <p>Email:</p>
            </div><br />
            <div class="col-sm-10">
                <p>Betaald:</p>
            </div><br />
        </div>
    }
</form>
<script>
    $(function () {
        $(".scannerInput").input(function () {
            $(this).parent()[0].submit();
        });
    });
</script>
