@{
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
    ViewBag.Title = "Event Ophalen";
}

    <div class="form-group">
        <div class="col-sm-10">
            <h2>Alle Events</h2>
        </div>
    </div>
    @foreach (var item in ViewBag.Events)
    {
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label">Locatie:</label>
                    <p>@item.LocatieNaam</p>
                </div>
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label">Titel:</label>
                    <p>@item.Titel</p>
                </div>
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label">Datum van:</label>
                    <p>@item.DatumVan</p>
                </div>
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label">Datum Tot:</label>
                    <p>@item.DatumTot</p>
                </div>
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label">Beschrijving:</label>
                    <p>@item.Beschrijving</p>
                </div>
                <div class="col-sm-2">
                    <a href="@Url.Action("VerwijderenEvent","Beheer", new { EventID = @item.ID})">Verwijderen</a>
                </div>
            </div>
        </form>
    }

