@{
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
    ViewBag.Title = "Beheersysteem";
}
<!DOCTYPE Html>
<html>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Beheer")">Beheersysteem</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/Beheer/GerapporteerdeMedia">Gerapporteerde Media</a></li>
                        <li><a href="Toegangs/Index">Toegangscontrole</a></li>
                        <li><a href="/Beheer/EventAanmaken">Event aanmaken</a></li>
                        <li><a href="/Beheer/BeheerderAanmaken">Beheerder aanmaken</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Materiaal <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Beheer/MateriaalToevoegen">Toevoegen</a></li>
                                <li><a href="/Beheer/MateriaalBekijken">Bekijken</a></li>
                            </ul>
                        </li>
                        <li><a href="/Gebruiker/Uitloggen">Uitloggen</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="form-group">
        <div class="col-sm-10">
            <h2>Alle Events</h2>
            @((string)Session["GeenEvents"])
        </div>
    </div>
    @foreach (var item in ViewBag.Events)
    {
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <div class="col-sm-10">
                    <p>Locatie: @item.LocatieNaam</p>
                </div>
                <div class="col-sm-10">
                    <p>Titel: @item.Titel</p>
                </div>
                <div class="col-sm-10">
                    <p>Datum van: @item.DatumVan</p>
                </div>
                <div class="col-sm-10">
                    <p>Datum Tot: @item.DatumTot</p>
                </div>
                <div class="col-sm-10">
                    <p>Beschrijving: @item.Beschrijving</p>
                </div>
                <div class="col-sm-2">
                    <a href="@Url.Action("VerwijderenEvent","Beheer", new { EventID = @item.ID})">Verwijderen</a>
                </div>
            </div>
        </form>
    }
</body>
</html>
